WarningsAsErrors: ''

Diagnostics:
  ClangTidy:
    Add: 
      - modernize-*
      - readability-*
      - cppcoreguidelines-*
      - performance-*
      - bugprone-*
    Remove:
      - readability-identifier-length
      - readability-function-cognitive-complexity
      - readability-implicit-bool-conversion
      - bugprone-easily-swappable-parameters
      - modernize-use-trailing-return-type
      - modernize-use-nodiscard

CompileFlags:
  Add: 
    - -std=c++26
    - -Wall
    - -Wextra
    - -Wshadow
    - -Wpendantic

