WarningsAsErrors: ''

Diagnostics:
  ClangTidy:
    FastCheckFilter: None
    Add: 
      - modernize-*
      - readability-*
      - cppcoreguidelines-*
      - performance-*
      - bugprone-*
      - misc-*
      - fuschia-*
      - google-*
      - hicpp-*
      - llvm-*
      - portability-*
    Remove:
      - readability-identifier-length
      - readability-function-cognitive-complexity
      - readability-implicit-bool-conversion
      - bugprone-easily-swappable-parameters
      - modernize-use-trailing-return-type
      - modernize-use-nodiscard
      - google-readability-todo
      - google-readability-namespace-comments
      - google-build-using-namespace
      - llvm-namespace-comment

CompileFlags:
  Add: 
    - -std=c++26
    - -Wall
    - -Wextra
    - -Wshadow
    - -Wpendantic

